@model Wizard.ScoreSheet.Models.PlayerModel




@{
    ViewData["Title"] = "Score Sheet";
}

<div class="text-center">
    <h1 class="display-4">Wizard Score Sheet</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerTurn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentBid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dealer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @*@foreach (var item in model) {
        <tr>   
            <td>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerTurn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentBid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dealer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@



<div class="w3-white w3-padding notranslate w3-padding-30">

    <h4>Wizard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PlayerName" class="control-label"></label>
                <input asp-for="PlayerName" class="form-control" />
                <span asp-validation-for="PlayerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dealer" class="control-label"></label>
                <input asp-for="Dealer" class="form-control" />
                <span asp-validation-for="Dealer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentBid" class="control-label"></label>
                <input asp-for="CurrentBid" class="form-control" />
                <span asp-validation-for="CurrentBid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentScore" class="control-label"></label>
                <input asp-for="CurrentScore" class="form-control" />
                <span asp-validation-for="CurrentScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
      <div class="container">
          <div class="row">
            <div class="col">
                1
            </div>
            <div "class="col">
                <div class="row bid">
                  Bid
                </div>
                <div class="row">
                  Trick
                </div>
            </div>
          </div>
        </div>      
</div>
<table color=black>
    <div>class="container">
          <div class="row">
            <div class="col">
                1
            </div>
            <div "class="col">
                <div class="row bid">
                  -
                </div>
                <div class="row">
                  -
                </div>
            </div>
          </div>
        </div>  

<form asp-action="Enter Bid">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Past Bids" class="btn btn-primary" /> |
    </form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
